* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    background-color: #FFFCFF;
    font-family: 'Saira Condensed', sans-serif;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    height: 100vh;
    background-image: url("nav.jpg");
    background-attachment: fixed;
    background-position: center right;
    background-size: cover;
}

header h1 {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
    font-size: 65px;
    font-family: 'Saira Semi Condensed', sans-serif;
    text-transform: uppercase;
}

.formAndCalendarContainer {
    max-width: 1920px;
    margin: 30px auto;
}

.form {
    float: left;
    padding: 0 50px;
    width: 40%;
    font-size: 28px;
}

.form h1 {
    padding: 25px 0 40px;
    text-align: center;
    font-size: 35px;
    font-family: 'Saira Semi Condensed', sans-serif;
    text-transform: uppercase;
}

.form input {
    margin: 10px auto 20px;
    width: 60%;
    height: 35px;
}

.form button {
    margin: 10px 20px;
    width: 100px;
    height: 50px;
    font-size: 22px;
}

#container {
    float: right;
    padding: 5px;
    border: 5px solid #30336b;
    width: 60%;
}

button {
    padding: 5px;
    width: 75px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 0px 2px gray;
    color: white;
    cursor: pointer;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 26px;
    font-family: sans-serif;
}

#monthDisplay {
    padding: 5px;
    width: 40%;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #be2edd;
    box-shadow: 0px 0px 2px #e056fd;
    color: white;
    cursor: pointer;
}

#header button {
    background-color: #e056fd;
}

#weekdays {
    width: 100%;
    display: flex;
    color: #be2edd;
    font-family: 'Saira', sans-serif;
}

#weekdays div {
    padding: 10px;
    width: 14%;
}

#calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Saira', sans-serif;
}

.day {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    margin: 0.5%;
    width: 13%;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #be2edd;
    background-color: white;
    cursor: pointer;
}

.day:hover {
    background-color: #e8faed;
}

.day+#currentDay {
    background-color: #e8f4fa;
}

.event {
    overflow: hidden;
    padding: 3px;
    max-height: 55px;
    border-radius: 5px;
    background-color: #58bae4;
    color: white;
    font-size: 10px;
}

.padding {
    box-shadow: none !important;
    background-color: #FFFCFF !important;
    cursor: default !important;
}

#newEventModal,
#deleteEventModal {
    display: none;
    position: absolute;
    top: 130vh;
    left: calc(70% - 175px);
    z-index: 20;
    padding: 25px;
    width: 350px;
    border-radius: 5px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    font-family: sans-serif;
}

h2 {
    margin-bottom: 5px;
    border: 1px solid #30336b;
    background-color: #f5f6fa;
    padding: 5px;
    border-radius: 5px;
    color: #30336b;
    text-align: center;
}

#eventTitleInput {
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 3px gray;
}

#eventTitleInput.error {
    border: 2px solid red;
}

#cancelButton,
#closeButton {
    border: 1px solid #be2edd;
    background-color: #e8f4fa;
    color: #be2edd;
}

#saveButton {
    background-color: #be2edd;
    color: white;
}

#deleteButton {
    background-color: #6F1E51;
    color: white;
}

#eventText {
    padding: 5px 0 15px 10px;
    font-size: 20px;
    color: #2f3542;
}

#modalBackDrop {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}